<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photo Gallery - Login</title>
    <link rel="stylesheet" href="/public/login.css">
</head>
<body>

    <div class="menu-toggle" id="menuToggle">
        <!-- Ícono inicial del menú -->
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16" id="menuIcon">
            <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
        </svg>
        
        <!-- Contenido del menú -->
        <div class="dropdown-content" id="dropdownContent">
            <a href="/">Home</a>
            <a href="/register">Register</a>
        </div>
    </div>

    <div class="container">
        <h2>Login</h2>
        <% if (message) { %>
            <p><%= message %></p>
        <% } %>
        <form action="/login" method="POST">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            <br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <br>
            <button type="submit">Login</button>
        </form>
    </div>    

    <script>
        var menuToggle = document.getElementById("menuToggle");
        var menuIcon = document.getElementById("menuIcon");

        // Agregar un evento de clic al botón de menú
        menuToggle.addEventListener("click", function() {
            // Alternar la clase 'active' en el botón de menú
            menuToggle.classList.toggle("active");
        });
    </script>

</body>
</html>